body {
  background-image: linear-gradient( rgba(0,0,255,0), rgba(0,0,255,1));
}
#text{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}
#header {
  background-color: #f1f1f1; /* Grey background */
  padding: 50px 10px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 90px; /* Big font size */ 
  font-weight: bold; 
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0; 
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
